@import "macchiato.css";

/* Normalize */
* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

button {
  box-shadow: none;
}

button:hover {
  box-shadow: none;
}
/* End Normalize */

#waybar {
  border: none;
  background-color: @surface0;
  color: @text;
  margin: 0px 0px;
}

#workspaces {
  margin: 0px;
  background-color: @surface0;
  margin-left: 0rem;

}

#workspaces button {
  color: @lavender;
  border-radius: 0rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0rem;
}

#custom-music,
#cpu,
#memory,
#temperature,
#network,
#battery,
#wireplumber,
#clock,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 0px 0;
}

#taskbar button {
  border: none;
  color: @text;
  background: @surface1;
  margin-right: 8px;
  padding: 0px 8px;
}

#taskbar button:hover {
  background-color: @surface2;
}

#taskbar button.active {
  background: @theme_fg_color;
}

tooltip {
  background-color: rgba(91, 96, 120, 0.8);
  border-radius: 0rem;
}

#clock {
  color: @lavender;
}

#cpu {
  color: @peach;
}

#memory {
  color: @sapphire;
}

#temperature {
  color: @green;
}

#temperature.critical {
  color: @red;
}

#wireplumber {
  color: @maroon;
}

#clock,
#custom-music {
  color: @mauve;
}

#custom-lock {
    color: @lavender;
}

#custom-power {
    color: @red;
}
