@import "macchiato.css";



* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 0px 0px;
}

#workspaces {
  border-radius: 0rem;
  margin: 0px;
  background-color: @surface0;
  margin-left: 0rem;

}

#workspaces button {
  color: @lavender;
  border-radius: 0rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0rem;
}

#custom-music,
#cpu,
#memory,
#temperature,
#network,
#battery,
#wireplumber,
#clock,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 0px 0;
}

tooltip {
  background-color: rgba(91, 96, 120, 0.8);
  border-radius: 0rem;
}

#clock {
  color: @lavender;
}

#cpu {
  color: @peach;
}

#memory {
  color: @sapphire;
}

#temperature {
  color: @green;
  border-radius: 0px 0rem 0rem 0px;
  margin-right: 0rem;
}

#temperature.critical {
  color: @red;
}

#wireplumber {
  color: @maroon;
  border-radius: 0rem 0px 0px 0rem;
  margin-left: 0rem;
}

#clock,
#custom-music {
  color: @mauve;
  border-radius: 0rem;
}

#custom-lock {
    border-radius: 0rem 0px 0px 0rem;
    color: @lavender;
}

#custom-power {
    margin-right: 0rem;
    border-radius: 0px 0rem 0rem 0px;
    color: @red;
}
